<div class="modal" tabindex="-1" style="display: @(showModal ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potwierdź akcję</h5>
                <button type="button" class="btn-close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                @Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="ConfirmAction">Tak</button>
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Nie</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool showModal;
    private string Message = "";
    private Func<Task> OnConfirmAsync;

    public async Task ShowModal(string message, Func<Task> onConfirmAsync)
    {
        Message = message;
        OnConfirmAsync = onConfirmAsync;
        showModal = true;
        StateHasChanged();
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private async Task ConfirmAction()
    {
        await OnConfirmAsync?.Invoke();
        CloseModal();
    }
}